*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(149, 149, 149);
}

/* Titre Principal */
h1{
    color: white;
    text-align: center  ;
    font-size: 3.3em;
}

/* Sous Titres */
h2{
    color: white;
    font-size:2.2em;
}

#email{
    color:rgb(0, 54, 154);

}


.informations{
    font-size: 1.3em;
    margin-left: 4%;
    border:1rem solid rgb(0, 54, 154);
    height: 6em;
    width: 20em;
}

.objectif{
    margin-left: 5%;
}

p{
    color: blanchedalmond;
    font-size: 1.3em;
}

.experience{
    margin-left: 5%;
}

.experience-list{
    color: blanchedalmond;
    font-size: 1.3em;
}

.formation{
    margin-left: 5%;
}

.formation-list{
    color:blanchedalmond;
    font-size: 1.3em;
}

.competence{
    text-align: center;
}

.competence-list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:5%;
}

.nom-competence-list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#icone-html{
    height: 150px;
    width: 150px;
}

#icone-css{
    height: 150px;
    width: 150px;
}

#icone-js{
    height: 150px;
    width: 150px;
}

#icone-nodejs{
    height: 150px;
    width: 150px;
}

#image-git{
    height: 10%;
    width: 10%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
}
